/* .CartImg {
    display: flex;
    align-items: center;
  }
  
  .CartImg {
    margin: 0 8px; 
  }

  .CartImg {
    width: 24px; 
    height: 24px; 
  }

  .CartImg {
    color: #007bff; 
  } */

  .widget{
    width: 80px; 
    height: 24px; 
    
  }

  .widget{
    color: #0c0f13; 
  }

  .globoDeWidget{
    margin: 11px 22px
  }